@value gridContainer, v, mv, h , layout_1, layout_2 from './ProtectedRoute.module.css';

.header {
  padding-top: 1rem;
  color: var(--text-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > h2 {
  margin: auto;
}
.header > i {
  position: relative;
  right: 1.9rem;
  font-size: 1.9rem;
}

.header > i:hover {
  cursor: pointer;
}
.gamesContainer {
  min-width: 600px;
  max-width: 700px;
  overflow: hidden;
  margin-top: 1.5rem;
  border-radius: 15px;
}

.animatedTextCont {
  margin-top: auto;
  margin-bottom: auto;
  width: 80%;
  overflow: hidden;
  text-align: center;
}

.animatedTextRight,
.animatedTextLeft {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  animation-timing-function: ease-in-out;
  animation: toTheRightToTheRight 3s infinite;
  animation-timing-function: linear;
}
.animatedTextRight {
  margin-top: 3rem;
}
.animatedTextLeft {
  animation-direction: alternate;
}

.load_more {
  background-color: var(--main-color);
  font-size: 1.2rem;
  border: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
}
.load_more:hover {
  background-color: var(--main-color-hover);
  cursor: pointer;
  border-radius: 5px;
}

/* ---------------- layout styling ---------------- */
.gridContainer.layout_1.v .gamesContainer,
.gridContainer.layout_1.mv .gamesContainer,
.gridContainer.layout_2.v .gamesContainer,
.gridContainer.layout_2.mv .gamesContainer {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.gridContainer.layout_1.h .gamesContainer,
.gridContainer.layout_2.h .gamesContainer{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
@keyframes toTheRightToTheRight {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(100%);
  }
}
