.header {
  padding-top: 1rem;
  color: var(--text-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > h2 {
  margin: auto;
}
.header > i {
  position: relative;
  right: 1.9rem;
  font-size: 1.9rem;
}

.header > i:hover {
  cursor: pointer;
}
.gamesContainer{
  min-width: 600px;
  margin-top: 1.5rem;
  border-radius: 15px;
}