/* .line > span > img {
  width: 30px;
}

.movesContainer {
  margin-left: 4rem;
  display: inline-flex;
  align-items: center;
}

span {
  display: inline-block;
}
.movesContainer > span {
  margin: auto;
}
 */

 span {
    display: inline-block;
  }
 .move_detail > img{
    width: 20px;
 }
 .movesContainer {
    display: flex;
    align-items: center;
    padding: 0.5rem 0px 0.5rem 0px;
  }
  
  .movesContainer .move_index {
    margin-left: 10px;
    min-width: 1.5rem; /* Adjust this width according to the longest index */
  }
  
  .movesContainer .move_detail {
    margin-left: 4rem;
    display: inline-flex;
    min-width: 8rem;
    align-items: center;
  }
  
  .movesContainer .move_detail * {
    margin-left: 0.5rem; /* Adjust as necessary */
  }
  
