.sidebar > .logo_container {
  position: relative;
  padding-bottom: 1.5rem;
  overflow: visible;
}
.changeThemeButton {
  position: absolute;
  display: none;
  right: -15px;
  bottom: -1.3rem;
  font-size: 2rem;
  background-color: var(--text-color);
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 5px;
  padding: 0px;
}
.changeThemeButton:hover {
  color: var(--signature-color);
  border-color: var(--signature-color);
  background-color: var(--light-black);
}
.sidebar:hover {
  overflow: visible;
}
.sidebar:hover .changeThemeButton {
  display: flex;
}

.sidebar .logo_container .main_logo {
  width: 83%;
  margin: auto;
  display: block;
}

.sidebar.min {
  max-width: 73px;
}

.sidebar {
  position: relative;
  max-width: 200px;
  padding: 1.5rem 0rem 1.5rem 0px;
  background-color: #2f2e2b;
  color: #f5f5f5;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  grid-column: 1 / 2;
}

.sidebar > .option_container > a > i {
  font-size: 2.2rem;
  margin-left: 1rem;
}

.sidebar > .option_container > a {
  display: flex;
  align-items: center;
  padding: 0.7rem 0rem 0.7rem 0rem;
}

.sidebar > .option_container > a:hover {
  cursor: pointer;
  color: var(--hover-color);
  background-color: rgb(88, 88, 88);
}

.sidebar > .option_container > a > h2 {
  font-size: 1.3rem;
  font-weight: 900;
  min-width: 86px;
  text-align: center;
  margin: auto;
}

.sidebar > .option_container {
  padding-top: 1.5rem;
  border: 0px #2f2e2b;
  border-top: 1px solid !important;
  flex-direction: column;
  height: -webkit-fill-available;
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  padding: 5px 35px 5px 15px;
  max-height: 90px;
  background-color: #2f2e2b;
  grid-row: 1 / 2;
}

.header > .option_container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  margin-left: 2rem;
}

.header .logo_container .main_logo {
  width: 90px;
  height: auto;
}

.header > .option_container > a > h2 {
  display: none;
}

.header > .option_container > a > i {
  font-size: 2.2rem;
}

.header > .option_container > a:hover {
  cursor: pointer;
  color: var(--hover-color);
}

.sidebar.min > .option_container > a > h2 {
  display: none;
}
