.reviewResult {
  padding: 15px 15% 15px 15%;
  grid-column: 2 / 3;
}
.line,
.reviewHeader {
  display: flex;
  align-items: center;
}
.reviewHeader > div {
  margin: auto;
  text-align: center;
}
.reviewHeader img {
  width: 100%;
  height: 100%;
}
.userInfo > div {
  margin-bottom: 1rem;
}
.imgContainer {
  border: 5px solid;
  border-radius: 0.8rem;
}
.imgContainer > img {
  width: 100px;
  height: 100px;
}
.line > img,
.line > div {
  margin: auto;
}
.wClassi {
  margin-left: auto;
}

.bClassi {
  margin-right: auto;
}
.reviewHeader {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 700;
}
.ReviewContainer {
  margin-top: 1rem;
  color: var(--text-color);
  font-size: 22px;
  font-weight: 700;
}
.ReviewContainer > div {
  margin-bottom: 1rem;
}
.block {
  border: 2px solid;
  border-radius: 0.7rem;
  padding: 5px 15px 5px 15px;
  border-color: var(--block-border);
  width: 92px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
.wblock {
  border-radius: 0.7rem;
}
.bblock {
  background-color: var(--text-color);
  color: var(--bg-color);
}
.reviewStatics {
  margin-bottom: 1rem;
}
.reviewStatics img {
  display: block;
}

.reviewStatics > .reviewTitle {
  margin: auto;
  font-weight: 700;
  font-size: 16px;
  width: 101px;
  text-align: center;
}
.reviewStatics > div.bcontainer {
  margin-right: auto !important;
  font-size: 22px;
  font-weight: 700;
}
.reviewStatics > div.wcontainer {
  margin-left: auto !important;
  font-size: 22px;
  font-weight: 700;
}
div.wcontainer > img,
div.bcontainer > img {
  margin: auto;
}
.reviewResult_content > div {
  border: 0px solid var(--text-color);
  border-bottom-width: 1px !important;
}

.gameStatistics {
  margin-top: 1.5rem;
}
@media screen and (max-width: 650px) {
  .reviewHeader {
    justify-content: center;
  }
  .userInfo {
    margin: 0 !important;
  }
  .reviewResult {
    padding: 15px 5% 15px 5%;
  }
}
.state_is_shrinked {
  max-height: 90vh;
  overflow-y: hidden;
}
@media screen and (max-width: 400px) {
  .imgContainer > img {
    width: 80px;
    height: 80px;
  }
}
