.gridContainer {
  display: grid;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scroll-snap-align: 5px;
}
.gridContainer.verticalMenuBar {
  grid-template-columns: 220px auto 250px;
  grid-template-rows: 1fr;
}
.gridContainer.horizontalMenubar {
  grid-template-columns: auto 250px;
  grid-template-rows: 80px auto;
}
.gridContainer.minimizedverticalMenuBar {
  grid-template-columns: 80px auto 250px;
}
@media screen and (max-width: 1200px) {
  .gridContainer {
    grid-template-columns: 80px auto 230px;
  }
}
