.gridContainer {
    display: grid;
    grid-template-columns: 16% auto 16%;
    grid-template-rows: 1fr;
    width: 100%;
    min-height: 100vh;
    background-color: var(--light-black);
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scroll-snap-align: 5px;
  }
  