* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #c4c3c3;
  --secondary-color: #ffffff;
  --box-shadow: 0 0 7px 0 #000000d6;
  --main-color-hover: #ffe10096;
  --win-color: rgb(4, 154, 4);
  --loss-color: rgb(242, 26, 26);
  --draw-color: grey;
  --light-black: #45423f;
}
#root.light {
  --text-color: #2f2e2b;
  --bg-color: #f5f5f5;
  --comment-color: rgb(95, 95, 95);
}
#root.dark {
  --text-color: #f5f5f5;
  --bg-color: #2f2e2b;
  --comment-color: rgb(166, 166, 166);
}
body {
  font-size: 14px;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

a {
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--main-color-hover);
}

#root{
  height: 100%;
}

:root{
  padding: 0px !important;
  margin: 0px !important;
}